MONGODB_URI=
JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

SENDGRID_API_KEY=
BREVO_API_KEY=
EMAIL_BCC=

FRONTEND_WEB_URL=
API_KEY_FOR_NEXTJS_SERVER=

SENTRY_DSN=
FOO=PROD_FOO